<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="Narumikazuchi.ImageGallery.styles.css" />
    <link href="_content/PSC.Blazor.Components.AutoComplete/css/autocomplete.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <HeadOutlet />
</head>

<body>
    <Routing />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/PSC.Blazor.Components.AutoComplete/js/autocomplete.js"></script>
</body>

</html>