<!DOCTYPE html>
<html lang="en">

    <head>
        <meta
            charset="utf-8"
        />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <base
            href="/"
        />
        <link
            rel="stylesheet"
            href="app.css"
        />
        <link
            rel="stylesheet" 
            href="Narumikazuchi.CreativeGallery.styles.css"
        />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap"
        />
        <AppLogoProvider />
        <HeadOutlet />
    </head>

    <body>
        <Routing />
        <script
            src="_framework/blazor.web.js"
        >
        </script>
    </body>

</html>