@using Narumikazuchi.CreativeGallery.Components.Banner
@using Narumikazuchi.CreativeGallery.Localization;

@inherits LayoutComponentBase

@inject Translator Translator

<Header />

<main
    class="page"
>
    @Body
</main>

<div
    id="blazor-error-ui"
>
    @Translator["common.unhandled-error"]
    <a
        class="reload"
        href=""
    >
        @Translator["common.reload"]
    </a>
    <a
        class="dismiss"
    >
        <div>🗙</div>
    </a>
</div>