@using Narumikazuchi.CreativeGallery.Localization;

@inherits LayoutComponentBase

@inject Translator Translator

<div class="banner">
    <Header />
</div>

<main class="page">
    @Body
</main>

<div id="blazor-error-ui">
    @Translator["common.unhandled-error"]
    <a href="" class="reload">@Translator["common.reload"]</a>
    <a class="dismiss">🗙</a>
</div>