@using Narumikazuchi.CreativeGallery.Data.Search;
@using Narumikazuchi.CreativeGallery.Infrastructure

@inject NavigationManager Navigator
@inject WorkingDirectory Root

<div
    class="banner"
>
    <span
        class="icon"
    >
        <div
            @onclick=@this.RedirectToLandingPage
        >
            <img
                src="@LogoData"
                alt="Logo"
            />
        </div>
    </span>
    <span
        class="search-bar"
    >
        <SearchInput />
    </span>
    <span
        class="account"
    >
        <UserLogin />
    </span>
</div>