@using Narumikazuchi.CreativeGallery.Data.Search;

<div class="banner">
    <span class="icon">
        <img src="" alt="Logo" />
    </span>
    <span class="search-bar">
        <SearchInput />
    </span>
    <span class="account">
        <UserLogin />
    </span>
</div>