@using Microsoft.AspNetCore.Components.Web
@using Narumikazuchi.CreativeGallery.Data

@inject FileInputOutputHandler FileHandler
@inject NavigationManager Navigator

@rendermode RenderMode.InteractiveServer

<div
    class="card"
    @onclick=@this.RedirectToResource
>
    <img
        src="@this.ImageData"
        alt="Profile"
    />
</div>